.my-card{
    margin-top: 10%;
    top:2%;
    left: 55%;
   
  
    margin-left: 10%;
    position: absolute;
    margin:auto;
    width:38% ;
    height: 85%;
    padding-top: 1%;

    }